 body {
    background-color: ghostwhite;
    margin: 0;
    background-image:url('/bg6.webp');
    background-size: cover;
    width: 100vw;
    height: 95vh;

    font-family: Arial, sans-serif;
            /* background-color: #f4f4f9;
            color: #333; */
            margin: 0;
            padding: 20px
}

p {
font-size: large;
}

head {
    background-color: coral;
}

h1 {
    text-align: center;
    padding: 2opx;
}

main {
    margin: 20px 
}
section {
    margin-bottom: 20px
}